section.section.section-md.bg-accent.text-center.text-md-start
	.container
		.row
			.col-xl-11
				.box-cta.box-cta-inline
					.box-cta-inner
						h3.box-cta-title
							span.box-cta-icon.icon-custom-briefcase
							span Free courses
						p Free courses contain industry-relevant content and practical tasks and projects.
					.box-cta-inner
						a.button.button-white(href='contacts.html') Contact us