.container
	h3.text-center Awesome & skilled instructors
	.row.row-40.row-lg-50
		.col-sm-6.col-lg-3.wow.fadeInLeft(data-wow-delay=".2s")
			+team-default({
				img: 'home-10-260x345',
				title: 'Theresa Webb',
				meta: 'Web design instructor'
			})
		.col-sm-6.col-lg-3.wow.fadeInLeft
			+team-default({
				img: 'home-11-260x345',
				title: 'Jenny Wilson',
				meta: 'Web development instructor'
			})
		.col-sm-6.col-lg-3.wow.fadeInRight
			+team-default({
				img: 'home-12-260x345',
				title: 'Jacob Jones',
				meta: 'Cybersecurity & IT instructor'
			})
		.col-sm-6.col-lg-3.wow.fadeInRight(data-wow-delay=".2s")
			+team-default({
				img: 'home-13-260x345',
				title: 'Bessie Cooper',
				meta: 'PM & business instructor'
			})